
/* <=================================================visualizer==========================================> */
canvas {
  width: 24%;
  height: 140px;
  background-color:rgb(18, 18, 18);
  border-radius: 8px;
  top:600px;
  left:30px;
  position: absolute;
}


@property --angle{
    syntax:"<angle>";
    initial-value:0deg;
    inherits:false;


}